<!DOCTYPE HTML>
<html>
	<head>
		<title>MS Paint Adventures</title>
		<style type="text/css">
			body,td,th {
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 14px;
				color: #000000;
				margin-top: 0px;
				margin-bottom: 0px;
			}
			body {
				background-color: #535353;
			}
		</style>

		<link rel="shortcut icon" href="http://cdn.mspaintadventures.com/favicon.ico">
	</head>

	<body bgcolor="5a5a5a" bottommargin="0" topmargin="0" >
		<center>
			<table width="" height="" cellpadding="0" cellspacing="0" border="0" bgcolor="" background="">
				<tr>
					<td>
						<!-- begin nav -->
						<table width="950" height="17" cellpadding="0" cellspacing="0" border="0" bgcolor="5a5a5a" background="">
							<tr><td></td></tr>
							<tr>
								<td border="0" bgcolor="" height="0" valign="top"><center><font face="arial" size="1" color="ffffff"><b>
								&nbsp; <img src="http://cdn.mspaintadventures.com/images/candycorn.gif" border="0" align="absmiddle"> &nbsp;MS PAINT ADVENTURES&nbsp; <img src="http://cdn.mspaintadventures.com/images/candycorn.gif" border="0" align="absmiddle"> &nbsp;</font></center></td>
							</tr>
							<tr><td></td></tr>
						</table>
						<!-- end nav -->
					</td>
				</tr>

				<tr>
					<td>
						<!-- begin comic content -->
						<table width="950" height="" cellpadding="0" cellspacing="0" border="0" bgcolor="" background="">
							<tr>
								<td width="950" height="100%" bgcolor="c6c6c6">
									<table width="950" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="" background="">
										<tr>
											<td height="7" bgcolor="c6c6c6"></td>
										</tr>
										<tr>
											<td>
												<center>
													<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" >
														<tr>

															<td bgcolor="#EEEEEE" width="100%">
																<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
																	<tr>
																		<td>
																			<img src="http://cdn.mspaintadventures.com/images/v2_blankstrip.gif" border="0">
																		</td>
																		<td>
																			<center>
																				<p style="font-weight: bold; font-family: courier, monospace; color:#000000"><font size="6">{{.Page.Title}}
																				</font></p>
																			</center>
																		</td>
																		<td>
																			<img src="http://cdn.mspaintadventures.com/images/v2_blankstrip.gif" border="0">
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
														<tr>
															<td bgcolor="#EEEEEE">
																<center>
																	{{range .Page.Assets}}
																		<p>
																			{{.HTML}}
																		</p>
																	{{end}}
																</center>
															</td>
														</tr>

														<tr>
															<td bgcolor="#EEEEEE">
																<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
																	<tr>
																		<td>
																			<center>
																				<div style="font-weight:bold;font-family:courier,monospace;color:#000000;">
																					{{.Page.Content}}
																				</div>
																			</center>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
														<tr>
															<td bgcolor="#EEEEEE">
																<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#EEEEEE">
																	<tr>
																		<td>
																			{{range $i, $p := .NextPages}}
																				{{if .}}
																					<font size="5">&gt; <a href="{{call $.Link $.S (index $.Page.Next $i)}}">{{.Title}}</a></font><br>
																				{{end}}
																			{{end}}
																			<br><br>
																			{{if .PrevPageID}}
																				<span style="font-size: 10px;">
																					<b><a href="{{call .Link .S .PrevPageID}}">Go Back</a></b></span>
																				<br><br>
																			{{end}}
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</center>
											</td>
										</tr>
										<tr>
											<td><img src="http://cdn.mspaintadventures.com/images/spacer.gif" height="20" alt=""></td>
										</tr>
										<tr>
											<td>
												<center>
													<table width="639" height="" cellpadding="0" cellspacing="0" border="0" bgcolor="" background="">
													</table>
												</center>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!-- end comic content -->
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>
